@font-face {
  font-family: "Caroni";
  src: url("./fonts/caroni/caroni-regular-webfont.woff");
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(183, 255, 239, 0.2), rgba(183, 255, 239, 0.2)), url("./images/geometry2.png");
}

.bodyFont {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
}

.navbar-custom {
  background-color: #87dbd0;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
  color: #007575;
}

.navbar-brand {
  color: #007575;
  font-family: Caroni, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.btn-custom {
  background-color: transparent;
  border-color: transparent;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:focus {
  background-color: #4cc8b8;
  border-color: #46b8a8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Caroni, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.75rem;
}

button {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container-body {
  background-color: white;
  min-height: 100%;
  /* fallback if needed */
  min-height: calc(100vh - 56px);
}

div[contenteditable] {
  min-height: 200px;
}

div[contenteditable] h1, div[contenteditable] h2, div[contenteditable] h3, div[contenteditable] h4, div[contenteditable] h5, div[contenteditable] h6 {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

div[contenteditable] h1 {
  font-size: 2em;
}

div[contenteditable] h2 {
  font-size: 1.75em;
}

div[contenteditable] h3 {
  font-size: 1.5em;
}

div[contenteditable] h4 {
  font-size: 1.25em;
}

div[contenteditable] h5 {
  font-size: 1.15em;
}

div[contenteditable] h6 {
  font-size: 1em;
}