.JournalPage {
    padding: .5rem 1.25rem 1.25rem 1.25rem;
}

.JournalPage__Mood {
    width: 65px;
    height: 65px;
    position: unset;
}

.JournalPage .TherapistComment {
    background-color: rgba(0, 0, 0, .05);
}

.JournalPage button img {
    width: 2em;
    height: 2em;
}

.content {
    white-space: pre-wrap;
}