.MoodIcon__Container {
    overflow-y: auto;
    max-height: 370px;
    min-height: 100px;
    /*if the height is too small it will make the tooltip go crazy! */
}

.MoodIcon {
    width: 60px;
    height: 60px;
    padding: .25rem;
}

.tooltip-inner {
    background-color: #137d8d;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #137d8d;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #137d8d;
}

/* HIDE RADIO */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */

[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */

[type=radio]:checked+img {
    background: rgba(0, 0, 0, .15);
    border-radius: 1.25em;
    /* outline: 2px solid #f00; */
}